*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
.container {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}



.container a {
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    font-size: large;
    position: relative;

}

.container a:hover {
    color: #D91656;
}

.logo {
    color: #FFEB55;
    position: absolute;
    background-color: #640D5F;
    padding: 15px 30px;
    border-radius: 75px 75px 0 0;
    top: 10%;
    transform: translateY(-50%);
}