
*,
*::before,
*::after {
box-sizing: border-box;
}
* {
margin: 0;
    padding: 0;
}
.container {
width: 100%;
    display: flex;
    padding: 20px;
        background: transparent;
        position: fixed;
        z-index: 1000;
}

.left {
    width: 50%;
    padding-left: 30px;
    
}

.left a {
    color: #64b2bc;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
}


.right {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.right a {
    text-decoration: none;
    color: #64b2bc;
    font-size: larger;
    font-weight: bold;
}